apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-conf
  namespace: gestion-notes
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      root /usr/share/nginx/html;
      index index.html;

      location /api/ {
        proxy_pass http://backend-service.gestion-notes.svc.cluster.local:8000/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
      }

      # Vue router history fallback
      location / {
        try_files $uri $uri/ /index.html;
      }

      # Optional: Nginx stub_status for exporter
      location /nginx_status {
        stub_status on;
        allow 127.0.0.1;
        deny all;
      }
    }
